/* AppXY.css */
.container {
  width: 100%;
  height: 100vh;
  background-color: beige;
  position: relative;
  overflow: hidden;
}

.pointer {
  position: absolute;
  background-color: crimson;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -15px;
}
